@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
html{
    overflow-x: hidden ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.nav-bar{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
}

.nav-links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-links li{
    margin: 0 15px;
}

.nav-bar a{
    color: #f5f5f5;
    text-decoration: none;
    font-family: "Sora", sans-serif;
    font-size: 1.5em;
}

.nav-bar .logo{
    color: #f5f5f5;
    font-family: "Sora", sans-serif;
    font-weight: 800;
    font-size: 3em;
    margin-left: 2%;
}

.nav-bar.scrolled a {
    color: #ff6347;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(assets/bgs/bg1.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items:start;
    justify-content: left;
    position: relative;
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
}

.header-content{
    margin-top: 22rem;
    margin-left: 18rem;
    color:#f5f5f5;
    text-align:left;
    position: relative;
    z-index: 1;
}

.header-content h2{
    font-family: "Sora", sans-serif;
    font-weight: 800;
    font-size: 3.5vmin;
}

.line{
    background: #ff6347;
    width: 40vw;
    max-width: 400px;
    height: 4px;
    margin: 20px 0;
}

.header-content h1{
    font-family: "Sora", sans-serif;
    font-size: 15vmin;
}

.header-content a{
    font-family: "Sora", sans-serif;
    font-size: 3vmin;
    padding: 15px 40px;
}

.ctn{
    padding: 8px 15px;
    background-color: #ff6347;
    border-radius: 30px;
    color: #f5f5f5;
}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* section 2 */

section{
    width: 90%;
    margin: 40px auto;
} 
.title{
    text-align: center;
    font-size: 4vh;
    font-family: "Sora", sans-serif;
}

.title .line{
    top: 0;
}

.line-sect2{
    background: #ff6347;
    width: 40vw;
    height: 4px;
    margin: 30px auto;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row .col{
    width: 80%;
    height: auto;
}
.img {
    width: 70%;
    height: auto;
    border-radius: 25px;
}
.row .events{
    margin-top: 20px;
}
h4{
    font-family: "Sora", sans-serif;
    font-size: 3vmin;
    font-weight:900;
    margin: 20px auto;
}
p{
    font-family: "Sora", sans-serif;
    font-size: 1.5em;
    color: #484872;
    padding: 0px 40px;
}
.events .ctn{
    margin-top: 30px;
}
.learnM{
    margin-top: 20px;
    padding: 15px 40px;
    background-color: #ff6347;
    border-radius: 30px;
    color: #f5f5f5;
    font-family: "Sora", sans-serif;
    font-size: 3vmin;
    text-align: center;
}

.explore{
    display: flex;
    width: 100%;
    height: 88vh;
    align-items: center;
    background-image: url(assets/bgs/bg3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.explore::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 88vh;
    background-color: #00000080;
}

.explore-content{
    display: flex;
    flex-direction: column;
    padding: 150px;
    color: #f5f5f5;
    z-index: 999;
}

.explore-content h2{
    font-family: "Sora", sans-serif;
    font-size: 6vmin;
    font-weight:900;
}

.explore-content p{
    color: #f5f5f5;
}



@media only screen and (max-width: 850px){
    .nav-bar {
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 0;
        background: #3a5838;
        visibility: hidden;
        transform: translateY(-100%);
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        border-radius: 0 0 300px 300px ;
    }
    .nav-links.mobile-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .nav-links li{
        margin: 30px auto;
    }
    .menu-btn {
        display: block;
    }
    .learnM{
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        display: block; 
    }
    .header-content{
        margin-top: 30vh;
        margin-left: 25vw;
    }
    .line{
        max-width: 400px;
    }
    
    
}


